  <div class="container-lg">
    <div class="footer-section text-center rounded-3 main-color text-color py-4">
      <p>Copyright &copy; <%= new Date().getFullYear() %> ViewPoint. All Rights Reserved.</p>
    </div>
  </div>

  <script>
    const avatars = document.querySelectorAll('.avatar, .avatar-small')
    avatars.forEach(a => {
      red = a.dataset.red
      green = a.dataset.green  
      blue = a.dataset.blue
      a.style.background = `rgb(${red}, ${green}, ${blue})`
    })
  </script>

  <% if (member) { %>
    <div id="chat-box" class="chat-box"></div>
    <script src="/socket.io/socket.io.js"></script>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
  <script>
    const tooltips = document.querySelectorAll('.tltp')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
  })
  </script>



  
  <script src="main-bundled.js"></script>
</body>
</html>