<%- include('includes/header') %>

<div class="container-lg">
  <div class="text-center">
    <h2>Sorry, that page cannot be found</h2>
    <p class="lead text-muted">Why not visit the <a href="/">homepage</a> instead</p>
  </div> 
</div>

<%- include('includes/footer') %>